<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/funcs.js"></script>
    <title>活着的记忆</title>
</head>

<body class="body">

	<div class="t_back img index"></div>

	<div class="t_login"><a href="./login.html">登录</a></div>

	<div class="t_bottom" onclick="testJs()">
		<div class="icp">
			潘国天版权所有<br/>
			<a href="http://www.miibeian.gov.cn">苏ICP备16055308号-2</a>
		</div>
	</div>



</body>

</html>